body{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:600px;
}
td{
    border-bottom:1px solid gray;
}
.campo{
    color:goldenrod;
    background-color: rgb(71, 67, 67);
}